<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <ul class="tabs">
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
    </ul>
    <ul class="problems">
        <li>
        <h4><% for(let i = 0; i < quiz.length; i++) { %>
        <br></br>
        <button onclick="openProblem(<%= i %>)">문제<%= (i+1) %></button>
        <div> 문제 이름: <%= quiz[i].title %></div>
        <div> 정답자 수: <%= quiz[i].completed_users %></div>
        <div> 문제 레벨: <%= quiz[i].difficulty_level %></div>
        <% } %></h4>
      </li>
    </ul>

    <script type="text/javascript">
      function openProblem(id) {
        console.log(id);
        window.location.href = `http://localhost:8000/problems/${id}`
      }
    </script>

  </body>
</html>
